@font-face {
  font-family: "PoetsenOne-Regular";
  src: url("/fonts/PoetsenOne-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.ant-layout-content {
  background-color: #ffffff;
}